@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

:root {
  --background-color-light: #f5f5f5;
}

body {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: var(--background-color-light) !important;
  overflow-x: hidden !important;
  font-family: "Quicksand", sans-serif !important;
  box-sizing: border-box !important;
}

a {
  text-decoration: none !important;
}

.container-fluid {
  position: relative !important;
  width: 100% !important;
  height: 100vh !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 0 !important;
}

.img-background {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  z-index: -1 !important;
  animation: zoomIn 10s infinite linear;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2); /* Adjust this value for more or less zoom */
  }
}

.centered-text {
  position: absolute !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  height: 100vh !important;
  width: 100% !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  text-align: center !important;
  font-size: 3em !important;
  color: rgb(255, 255, 255) !important;
  z-index: 1 !important;
}

.navbar {
  position: fixed !important; /* Assurez-vous que la navbar est fixée en haut */
  top: 0 !important; /* Positionnez la navbar en haut */
  width: 100% !important; /* Assurez-vous que la navbar prend 100% de la largeur */
  z-index: 2 !important; /* Assurez-vous que la navbar est au-dessus de l'image de fond */
  background-color: white !important; /* Fond transparent */
  border-top: 2px solid lightgray !important;
  border-bottom: 2px solid lightgray !important;
}

.nav-container {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 80px !important;
  width: 100% !important;
}

.menu-items {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
}

.menu-items a {
  text-decoration: none !important;
  color: rgb(0, 0, 0) !important;
  font-weight: 600 !important;
  font-size: 1.6rem !important;
  padding: 0.7rem !important;
}

.menu-list {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-around !important;
  align-items: center !important;
  width: 100% !important;
}

.links {
  position: relative !important;
  color: #000 !important;
  text-decoration: none !important;
}

.links:hover {
  color: #000 !important;
}

.links::before {
  content: "" !important;
  position: absolute !important;
  display: block !important;
  width: 100% !important;
  height: 2px !important;
  bottom: 0 !important;
  left: 0 !important;
  background-color: #000000 !important;
  transform: scaleX(0) !important;
  transition: transform 0.3s ease !important;
}

.links:hover::before {
  transform: scaleX(1) !important;
}

.scroll-down {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em; /* Adjust size as needed */
  color: rgb(255, 255, 255); /* Adjust color as needed */
  text-decoration: none;
  animation: bounce 2s infinite;
  cursor: pointer;
  z-index: 1;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.scroll-down:hover {
  color: white;
}

.scroll-down i {
  font-size: 25px; /* Adjust size as needed */
}

/* Animation de saisie */
.typing-effect {
  overflow: hidden !important; /* Masque l'excédent de texte */
  white-space: nowrap !important; /* Empêche le texte de passer à la ligne suivante */
  margin: 0 auto !important; /* Centrage horizontal */
  letter-spacing: 0.15em !important; /* Espacement entre les lettres */
  animation: typing 5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: transparent;
  }
}

.samir {
  font-size: 0.5em;
}

.dev {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/**** Logo ****/

.logo-white {
  margin-left: 1em !important;
  width: 100px !important;
  font-size: 1.5rem !important;
  display: flex !important;
}

.logo-white:hover {
  color: #000000 !important;
  cursor: pointer !important;
}

/*************************************** TEST ***************************************/

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  flex-wrap: wrap;
}

.pricing-box {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing-box.dark {
  background-color: #333333;
  color: #ffffff;
}

.pricing-box h2 {
  font-size: 18px;
  color: #333333;
  margin-bottom: 10px;
}

.pricing-box.dark h2 {
  color: #ffffff;
}

.pricing-box .price {
  font-size: 36px;
  color: #e63946;
  margin: 10px 0;
}

.pricing-box .price span {
  font-size: 14px;
  color: #333333;
}

.pricing-box.dark .price span {
  color: #ffffff;
}

.pricing-box ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  text-align: left;
  flex: 1;
}

.pricing-box ul li {
  font-size: 14px;
  color: #555555;
  margin-bottom: 10px;
}

.pricing-box.dark ul li {
  color: #dddddd;
}

.pricing-box ul li span {
  color: #e63946;
  margin-right: 5px;
}

.pricing-box ul li strong {
  font-weight: bold;
}

.pricing-box .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e63946;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: auto;
}

.pricing-box .btn:hover {
  background-color: #d62828;
}

.pricing-box h3 {
  font-size: 16px;
  color: #333333;
  margin: 20px 0 10px;
}

.pricing-box.dark h3 {
  color: #ffffff;
}

.disclaimer {
  text-align: center;
  margin-top: 20px;
  margin-left: 2em;
  margin-right: 2em;
}

.disclaimer p {
  font-size: 12px;
  color: #777777;
  line-height: 1.4;
}

.disclaimer strong {
  font-weight: bold;
}

/*************************************** MAIN ***************************************/

/* Animation */

/* Animation Keyframes */
/* @keyframes zoom-fade-in {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
} */

/* Apply the animation */
/* .zoom-fade-in {
  animation: zoom-fade-in 1.3s ease-out;
} */

/* Phrase d'accroche */
/* .accroche {
  margin: 3em;
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  font-family: quicksand;
} */

/* Style de l'image qui apparaît au survol */
/* .moi {
  position: absolute;
  bottom: 25%;
  right: -30%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 10em;
  transform: rotateZ(0.05turn);
} */

/* .qui-je-suis {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  color: black;
} */

/* Affichage de l'image au survol */
/* .qui-je-suis:hover + .moi {
  opacity: 1;
  transform: rotateZ(0.05turn);
  z-index: 2;
} */

/* Div du bouton de clic */
/* .coucou {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  width: 15%;
  position: fixed;
  right: 1%;
} */

/* #clic-button {
  font-size: 2rem;
  cursor: pointer;
  border: none;
  background-color: #f5f5f5;
}

#compteur {
  font-size: 0.8rem;
  margin: 0;
} */

/* Cadre des citations */
/* .quote-container {
  width: 60%;
  margin: 2em auto;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid black;
  padding: 1em;
  text-align: center;
  font-style: italic;
  height: 100px; 
  overflow-y: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.quote-slide {
  font-size: 1.2em;
  line-height: 1.5;
  display: none;
}

.quote-slide.active {
  display: block;
} */

h1 {
  margin-top: 3em;
  font-family: "Quicksand", sans-serif;
}

.teamup {
  font-weight: bold;
  border: none;
  font-size: 1.5em;
  background-color: transparent;
}

/* Mes projets */

.trait {
  width: 45%;
  margin: 6em auto;
  border: solid 2px lightgray;
}

.lettre-E {
  color: #385b81;
}

.apostrophe {
  color: #e7b613;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.h1-effet {
  font-size: 2em;
  margin-bottom: 3em;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.2s ease-in-out, transform 0.7s ease-in-out;
}

.h1-effet.animate-slide {
  opacity: 1;
  transform: translateX(0%);
}

/* Conteneur principal */
.projets {
  width: 100%;
  box-sizing: border-box;
}

/* Liste des projets */
.projets-list {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  gap: 20px;
}

/* Conteneur d'un projet */
.cadre-projet {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  /* padding: 2em; */
  border-radius: 5px;
  transition: opacity 1.2s ease-in-out, transform 1.2s ease-in-out;
  opacity: 0;
  transform: translateX(-100%);
}

.cadre-gauche {
  transform: translateX(100%);
}

.cadre-droite.animate-slide,
.cadre-gauche.animate-slide {
  opacity: 1;
  transform: translateX(0%);
}

/* Styles pour les titres */
.projets-titres-droite {
  text-align: start;
  margin: 0.5em 0.5em 0.5em 3em;
  font-size: 2.5rem;
  font-family: "Quicksand", sans-serif;
}

.projets-titres-gauche {
  text-align: end;
  margin: 0.5em 3em 0.5em 0.5em;
  font-size: 2.5rem;
  font-family: "Quicksand", sans-serif;
}

/* Conteneur d'images et descriptions */
.project-container,
.project-container-reverse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 20px; */
}

.project-container-reverse {
  flex-direction: row-reverse;
}

/* Conteneur d'images */
.img-teamup {
  border-radius: 10px;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 60%;
  height: 100%;
  overflow: hidden;
}

.img-retrogaming {
  border-radius: 10px;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(199, 212, 221);
  width: 50%;
  height: 100%;
  overflow: hidden;
}

/* Images */
.projet-img {
  width: 100%;
  max-height: 50vh; /* Limite la hauteur à 50% de la hauteur de la fenêtre */
  object-fit: contain; /* Conserve le rapport d'aspect de l'image */
}

/* Description des projets */
.projet-description,
.projet-description-reverse {
  display: flex;
  flex-direction: column;
  padding: 1em;
  font-family: "Quicksand", sans-serif;
  width: 35%;
}

.projet-description-reverse {
  align-items: end;
}

/* Style pour les détails */
.details {
  border: 1px solid rgb(3, 3, 3);
  width: 50%;
  text-align: center;
  padding: 0.5em;
  background-color: white;
  text-decoration: none;
  transform: scale(1.1);
  border-radius: 5px;
}

.details:hover {
  background-color: rgb(3, 3, 3);
  color: white;
}

.plus-creations-container {
  margin: 5em 0;
  position: relative;
}

.img-background-creations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  /* animation: zoomIn 10s infinite linear; */
}

.plus-creations {
  /* border: 1px solid rgb(3, 3, 3); */
  width: 100%;
  height: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  text-decoration: none;
  border-radius: 5px;
}

.voir {
  font-size: 2em;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.voir:hover {
  transform: scale(1.1);
}

/***********Mes services***********/

.container-title {
  margin-top: 5em;
  margin-bottom: 5em;
  width: 100%;
  height: 5em;
  /* background-color: brown; */
  display: flex;
}

.creations {
  width: 55%;
  height: 100%;
  font-size: 5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgb(234, 234, 234);
  margin-right: 0.3em;
  font-family: Montserrat;
  font-weight: bold;
  /* background-color: yellow; */
}

.subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  /* color: green; */
}

.my-creations {
  display: flex;
  font-family: Montserrat;
  color: rgb(194, 194, 194);
  font-size: 0.8em;
  /* background-color: aqua; */
}

.small-creations {
  font-size: 1.5em;
  font-family: Montserrat;
  font-weight: bold;

  /* background-color: blanchedalmond; */
}

.presentation-block2 {
  width: 100%;
  height: 100%;
  font-family: quicksand;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 5em;
}

.presentation-block2 > p {
  padding: 0 1em 0 0;
  line-height: 1.5em;
}

.presentation-block2 > li {
  list-style: none;
  line-height: 1.5em;
}

.gras {
  font-weight: bold;
}

.texte-welcome {
  width: 100%;
  height: 5em;
  /* background-color: brown; */
  display: flex;
}

.description {
  width: 55%;
  height: 100%;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: rgb(234, 234, 234);
  margin-right: 0.3em;
  font-family: Montserrat;
  font-weight: bold;
  text-transform: uppercase;
  /* background-color: yellow; */
}

.services {
  padding-left: 3em;
  padding-right: 3em;
}
.services-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5em;
  width: 100%;
}

.services-box {
  width: 30%;
  height: 13em;
  background-color: rgb(255, 255, 255);
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #5b5963;
  position: relative;
}

.services-box img {
  max-width: 40;
  max-height: 40%;
  border-radius: 5px 5px 0 0;
}

.services-box:hover {
  /* background-color: rgb(1, 1, 1); */
  color: #000000;
  cursor: pointer;
}

.services-box:hover .custom-color {
  color: #000000;
}

.services-box:hover .text-hover {
  color: #000000;
  display: block;
  font-size: 1.1em;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  padding: 0 1em;
}

.text-hover {
  display: none;
}

.custom-color {
  color: #5b5963;
}

/***********Presentation***********/

.h1-effet2 {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
}

.h1-effet2.animate-slide {
  opacity: 1;
  transform: translateX(0%);
}

.mes-services {
  font-size: 2em;
  text-align: center;
}

/**************A propos**************/

.propos {
  padding-left: 3em;
  padding-right: 3em;
  height: 100vh;
}
.propos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 5em;
  width: 100%;
  margin-top: 7em;
}

.propos-box {
  width: 30%;
  height: 20em;
  background-color: rgb(255, 255, 255);
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #5b5963;
  position: relative;
}

.propos-box img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 5px 5px 0 0;
}

.parcours {
  max-width: 65% !important;
  max-height: 65% !important;
  border-radius: 5px 5px 0 0;
}

.propos-box:hover {
  /* background-color: rgb(1, 1, 1); */
  color: #000000;
  cursor: pointer;
}

.propos-box:hover .custom-color {
  color: #000000;
}

.propos-box:hover .propos-text-hover {
  color: #000000;
  display: block;
  font-size: 1.1em;
  text-align: center;
  text-transform: none;
  font-weight: normal;
  padding: 0 1em;
}

.propos-text-hover {
  display: none;
}

/**************Tarifs**************/

.tarifs-container {
  width: 100%;
  display: flex;
  /* background-color: aqua; */
}

.tarifs-box {
  width: 30%;
  height: 13em;
  background-color: rgb(255, 255, 255);
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: #5b5963;
  position: relative;
}

/**************Contact**************/

.contact-section {
  margin: 0 auto;
}

.contact-projet {
  background-color: rgb(234, 234, 234);
  text-align: center;
  margin-left: 16em;
  margin-right: 16em;
  border-radius: 5px;

  p {
    width: 100%;
    padding: 0.5em;
    font-size: 2em;
    font-weight: bold;
  }
}

.container-contact {
  font-family: Arial, Helvetica, sans-serif;
  /* width: 100%; */
  gap: 5em;
  margin: 0 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: burlywood; */
}

.contact-info {
  /* flex: 1; */
  max-width: 300px;
  margin-right: 20px;
}

.contact-info .info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contact-info .info i.icon {
  font-size: 24px;
  margin-right: 10px;
}

.map-form {
  /* flex: 2; */
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.map {
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
  border: 2px solid lightgray;
}

.form {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  padding: 20px !important;
  resize: none;
  height: 100px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

form button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #e74c3c;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #c0392b;
}

.captcha {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.captcha label {
  margin-right: 10px;
}

/* test*/

.contacto {
  margin: 0 5em;
  /* background-color: beige; */
  display: flex;
  flex-direction: row;
}

.questions-container {
  text-align: center;
  width: 35%;
  /* background-color: rgb(192, 200, 223); */
  /* border-right: 1px solid lightgray; */
  padding-right: 1em;

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    /* border-bottom: 1px solid lightgray; */
    padding: 1em;
    margin-bottom: 2em;
    background-color: #f5f5f5;
    border-radius: 5px;
    text-transform: uppercase;
  }
}

.icones {
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 1em;
  border-radius: 5px;
  /* background-color: rosybrown; */
}

.tp {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-bottom: 1em;
  margin-left: 1em;
  /* background-color: rgb(192, 200, 223); */
  font-size: 1.2em;
}

.tpp {
  display: flex;
  align-items: start;
  width: 100%;

  p {
    margin: 0;
    text-align: left;
    color: #8f8f8f;
  }
}

.icone {
  width: 20%;
  display: flex;
}

.devis {
  text-align: center;
  width: 75%;

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    /* border-bottom: 1px solid lightgray; */
    padding: 1em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 6.8em;
    background-color: #f5f5f5;
    border-radius: 5px;
    text-transform: uppercase;
  }
  /* background-color: rgb(186, 188, 143); */
}

.mini-titre {
  text-align: left;
}

.contact-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  margin-left: 5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* margin-top: 2em; */
}
.hidden {
  display: none;
}
.form-group label {
  margin-bottom: 5px;
}
.noPM {
  padding: 0;
  margin: 0;
}

.textarea-size {
  resize: none;
  height: 500px;
}

.input-group-addon {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
}
button {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #c0392b;
}

/*************************************** FOOTER ***************************************/

footer {
  color: #000000;
}

#adress {
  text-align: center;
  display: flex;
  height: 100%;
}

.contactMail {
  width: 50%;
  height: 10em;
  font-family: quicksand;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactMail > p {
  margin: 0;
}

#icons {
  width: 50%;
  font-family: quicksand;
  display: flex;
  flex-direction: column;
  padding-top: 1.5em;
}

#icons > p {
  margin: 0;
}

#premierTrait {
  height: 1px;
  background-color: lightgray;
  margin-top: 5em;
  margin-bottom: 2em;
}

#copyrighht-container {
  text-align: end;
  font-size: 0.8em;
}

.contactMail a {
  display: inline-block;
  padding: 0 15px;
  font-size: 2em;
  color: #000000;
  margin: 0.5em;
}

.contactMail a:hover {
  transform: scale(1.5);
  transition: 0.1s;
  color: rgb(0, 0, 0);
}

#icons a {
  display: inline-block;
  padding: 0 15px;
  font-size: 2em;
  color: #000000;
}

#icons a:hover {
  transform: scale(1.5);
  transition: 0.1s;
  color: rgb(0, 0, 0);
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.back-to-top img {
  width: 100%;
  height: auto;
}

/* Faire apparaître la flèche lorsque vous faites défiler vers le bas */
.show-back-to-top {
  width: 100%;
  display: flex;
  opacity: 1;
}
